        body, html {
            background: transparent;
        }

        @media only screen and (max-height: 1430px) {
        html, body {
            width: auto;
            height: 100%;
			margin: 0;
			padding: 0;
			left: 0;
            overflow-y: hidden;
		}

        /* Navigation start */
		nav {
            position: absolute;
            left: 40%; 
            cursor: pointer;
            z-index: 3;
            margin-top: .5%;
        }
        li {
            display: inline-block;
            padding: 1rem;
            margin: 1rem;
            text-align: center;
            border: 1px solid white;
            border-radius: 1rem;
            font-family: 'Monoton', cursive;
            box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
        }
        a {
            list-style: none;
            text-decoration: none;
            color: white;
            font-family: 'Futura', fantasy, sans-serif;
            text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
        }
        li:hover {
            box-shadow: none;
        }
        a:hover {
            text-shadow: none;
        }
        /* Navigation end */

        /* Onepage start */
        .onepage {
            height: 100%;
            margin: 0;
            padding: 0;
            top: 0;
            left:0;
        }
        .more {
          display: block;
          position: relative;
          bottom: 10px;
          top: 0;
          left: 0;
        }
        #Pacman {
          background-color: #39485E;
        }
        #Highscore {
          background-color: #35587E;
        }
        
        /* Onepage end */

        /* Game start */
        #container {
            overflow-x: hidden;
            overflow-y: hidden;
            width: 100%;
            height: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            position: relative;
        }
        #life-score-container {
            position: sticky;
            padding-left: auto;
            padding-right: auto;
        }
        #world {
            position: sticky;
            overflow-x: hidden;
            width: auto;
            height: auto;
            margin: auto;
        }
        
        #score {
            position: absolute;
            width: 44rem;
            height: auto;
            color: white;
            margin-left: 124rem;
            font-size: 46px;
            z-index: 6;
            top: 70rem;
            text-align: right;
            text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
        }
        #level-show {
            position: absolute;
            left: 149rem;
            top: 5px;
            font-family: fantasy, monospace, sans-serif;
            font-size: 44px;
            width: 250px;
            height: 200px;
            color: white;
            z-index: 15;
            text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
        }
        #level-show-text {
            position: absolute;
            left: 0;
            top: 5px;
            font-family: fantasy, monospace, sans-serif;
            font-size: 44px;
            width: 250px;
            height: 55px;
            color: white;
            z-index: 17;
            text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;    
        }
        #level-show-number {
            position: absolute;
            left: 13rem;
            top: -1.3rem;
            font-family: fantasy, monospace, sans-serif;
            font-size: 60px;
            width: 100px;
            height: 55px;
            color: white;
            z-index: 19;
            text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;    
        }

        #hearts {
            position: absolute;
            width: auto;
            height: auto;
            display: flex;
            flex-direction: row;
            margin-top: 1%;
            margin-left: 15%;
        }
        #hearts-lvl {
            position: absolute;
            margin: 0;
            padding: 10px;
            top: 0;
            height: auto;
            width: 210px;
            left: 100px;
            display: inline-block;
            margin-top: 6%;
        }
        #life {
            width: 480px;
            height: 70px;
            position: absolute;
            color: white;
            font-family: 'Futura', monospace, sans-serif;
            font-size: 25px;
            z-index: 6;
            text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
        }
        .fa {
            z-index: 6;
            padding: 2%;
            margin-left: 5%;
            margin-top: 3%;
        }
        .fa-heart {
            position: sticky;
            color: red;
            width: auto;
            height: auto;
            font-size: 35px;
            text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
            display: inline-block;
        }

        .pacman-bg {
			width: 50px;
			height: 50px;
			background-color: transparent;
			display: inline-block;
            background-position: center;
            background-size: cover;
		}

        .pacman {
            position: relative;
            padding-left: 4px;
        }
        .pacman-top{
              background-color: yellow;
              height: 20px;
              width: 35px;
              border-radius: 25px 25px 0 0;
              animation: spin1 0.5s infinite linear;
              position: relative;
              margin-top: 8px;
        }
        .pacman-eyes {
            position: absolute;
            width: 13px;
            height: 13px;
            background-color: white;
            margin-left: 16px;
            margin-top: 1px;
            border-radius: 50%;
            border: .5px solid black;
        }
        .pacman-eye {
            background-color: red;
            width: 7px;
            height: 7px;
            position: absolute;
            margin-left: 3px;
            margin-top: 3px;
            border-radius: 50%;
        }
        .pacman-bottom {
              background-color: yellow;
              height: 20px;
              width: 35px;
              border-radius: 0 0 25px 25px;
              animation: spin2 0.5s infinite linear;
              position: relative;
              margin-top: -4px;
        }
        /* Extra class start */
        .pacman-paused {
            width: 50px;
			height: 50px;
			background-color: transparent;
			display: inline-block;
            background-position: center;
            background-size: cover;
        }
        .pacman-dead {
              background-color: yellow;
              height: 100%;
              width: 100%;
              border-radius: 50%;
              top: -50%;
              animation: dead 2s infinite linear;
              position: relative;
              margin-top: 25px;
        }
        /* Extra class end */

        .redGhost {
			width: 50px;
			height: 50px;
			background-image: url(../bilder/rot.png  );
            background-size: cover;
            background-position: center;
			display: inline-block;
            animation: ghosts 1s linear infinite;
		}
        .yellowGhost {
            width: 50px;
            height: 50px;
            background-image: url(../bilder/gelb.png);
            background-size: cover;
            background-position: center;
            display: inline-block;
            animation: ghosts 1s linear infinite;
        }
        .greenGhost {
            width: 50px;
            height: 50px;
            background-image: url(../bilder/blau.png);
            background-size: cover;
            background-position: center;
            display: inline-block;
            animation: ghosts 1s linear infinite;
        }
        .pinkGhost {
            width: 50px;
            height: 50px;
            background-image: url(../bilder/pink.png);
            background-size: cover;
            background-position: center;
            display: inline-block;
            animation: ghosts 1s linear infinite;
        }

        .wall {
            height: 50px;
            width: 50px;
            background-image: url('../bilder/neon.png');
            background-position: center;
            background-size: cover;
            display: inline-block;
        }
        .wallL {
			height: 50px;
            width: 50px;
			background-image: url('../bilder/neon.png');
			background-position: center;
			background-size: cover;
			display: inline-block;
		}
        .coin2 {
			width: 50px;
			height: 50px;
			background-image: url('../bilder/orangen.png');
			background-position: center;
			background-size: cover;
			display: inline-block;
		}
        .coin1 {
			width: 50px;
			height: 50px;
			background-image: url('../bilder/point.png');
			background-position: center;
			background-size: cover;
			display: inline-block;
            animation: coinsAnim .5s infinite;
}
        .coin {
            height: 50px;
            width: 50px;
			background-image: url('../bilder/point.png');
			background-position: center;
			background-size: cover;
			display: inline-block;
            animation: coinsAnim .5s infinite;
        }
        .ground {
            height: 50px;
            width: 50px;
			background-color: transparent;
			background-position: center;
			background-size: cover;
			display: inline-block;
}

        .pacman-bg, .wall, .coin, .ground, .coin1, .coin2, .wallL, .redGhost, .yellowGhost, .greenGhost, .pinkGhost {
            vertical-align: top;
        }

        #nextLvl {
            position: absolute;
            color: white;
            margin-top: 34%;
            margin-left: 37%;
            font-size: 3rem;
            text-align: center;
            font-weight: bolder;
            overflow-x: hidden;
            z-index: 10;
            animation: text 2s infinite;
        }
        #highscore {
            position: relative;;
            overflow-x: hidden;
            overflow-y: hidden;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;  
        }
        #highscore-text {
            color: white;
            position: sticky;
            font-size: 64px;
            text-align: center;
            margin-top: 5%;
        }
        #highscores {
            color: white;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            font-size: 48px;
            padding-top: 320px;
            overflow-y: hidden;
        }
        #highscores ol {
            margin-left: 41.5%;
            box-shadow: none;
        }
        #highscores ol li {
            padding: 10px;
            box-shadow: none;
            font-size: 40px;
            font-weight: bold;
            border: none;
        }
            
        #clear {
            position: absolute;
            color: white;
            background: #39485E;
            left: 48.5%;
            top: 90%;
            width: 4%;
            height: 4%;
            border-radius: 6px;
            font-size: 24px;
            font-family: fantasy, monospace, sans-serif;
            text-align: center;
            padding-top: .4%;
            outline: none;
        }
        #clear:hover {
            color: #39485E;
            background: white;
        }
        /* Game end */
        
        /* Pacman drehen start */
        .turn-90 {  
            transform: rotate(90deg);   
}
        .turn-180 {  
            transform: scaleX(-1); 
}
        .turn-270 {  
            transform: rotate(270deg); 
}
        .turn-360 {  
            transform: rotate(360deg); 
}
        /* Pacman drehen end */

        /* Ghosts (animation) start */
        @keyframes ghosts{
		  1%{
		    transform: rotate(2deg);
		  }
		  25%{
		    transform: rotate(0);
		  }
		  70%{
		    transform: rotate(2deg);
		  }
		}
        /* Ghosts (animation) start */
            
        /* Text (animation) start */
        @keyframes text {
                  10%{
                      margin-top: 35%;
                  }
                  20%{
                      margin-top: 34%;
                  }
                  30%{
                      margin-top: 35%;
                  }
                } 
        /* Text (animation) end */

        /* Coins (animation) start */
        @keyframes coinsAnim {
                  10%{
                      transform: scale(0.9);
                  }
                  20%{
                      transform: scale(1);
                  }
                  30%{
                      transform: scale(1.1);
                  }
                  100%{
                      transform: scale(1);
                  }
                } 
        /* Coins (animation) end */
            
        /* Pacman (animation) start */
	    @keyframes spin1 {
                0%  {transform: rotate(0deg);}
                50%{transform: rotate(-45deg);}
}
        @keyframes spin2 {
                0%  {transform: rotate(0deg);}
                50%{transform: rotate(45deg);}            

        }
        @-moz-keyframes spin1 {
                0%  {transform: rotate(0deg);}
                50%{transform: rotate(-45deg);}
}
        @-moz-keyframes spin2 {
                0%  {transform: rotate(0deg);}
                50%{transform: rotate(45deg);}            
        }
        @-webkit-keyframes spin1 {
                0%  {transform: rotate(0deg);}
                50%{transform: rotate(-45deg);}
}
        @-webkit-keyframes spin2 {
                0%  {transform: rotate(0deg);}
                50%{transform: rotate(45deg);}            
        }

        @keyframes dead {
                1%{transform: rotate(-90deg);}
                100%{transform: rotate(90deg);}
        }
            @keyframes flicker {
                0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {

                    opacity: .99;

                }
                20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
                    opacity: 0.4;
                }
            }
        /* Pacman (animation) end */
        }
        
        @media only screen and (max-height: 830px) { 
            html, body {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
            }
            
            /* Navigation start */
            nav {
                position: absolute;
                left: 30%; 
                cursor: pointer;
                z-index: 3;
                margin-top: 1.1%;
            }
            li {
                display: inline-block;
                padding: .5rem;
                margin: .5rem;
                text-align: center;
                border: .5px solid white;
                border-radius: 1rem;
                box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
            }
            li:hover {
                box-shadow: none;
            }
            a:hover {
                text-shadow: none;
            }
            /* Navigation end */
            
            /* Game start */
            #life-score-container {
                position: sticky;
            }
            #score {
                position: relative;
                height: auto;
                color: white;
                margin:0;
                text-align: left;
                font-size: 29px;
                z-index: 6;
                top: 680px;
                left: -70px;
                text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
            }
            #level-show {
                position: absolute;
                left: 60rem;
                top: 5px;
                font-family: fantasy, monospace, sans-serif;
                font-size: 44px;
                width: 14rem;
                height: 4rem;
                color: white;
                z-index: 15;
                text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
            }
            #level-show-text {
                position: absolute;
                left: 0;
                top: 5px;
                text-align: left;
                font-family: fantasy, monospace, sans-serif;
                font-size: 24px;
                width: 250px;
                height: 55px;
                color: white;
                z-index: 17;
                text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
            }
            #level-show-number {
                position: absolute;
                left: 110px;
                top: -30px;
                font-family: fantasy, monospace, sans-serif;
                font-size: 45px;
                width: 70px;
                height: 55px;
                color: white;
                z-index: 19;
                text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
            }

            #hearts {
                position: absolute;
                display: flex;
                flex-direction: row;
            }
            #hearts-lvl {
                position: absolute;
                width: 120px;
                left: 10px;
                display: inline-block;
                margin-top: 2%;
            }
            #life {
                width: auto;
                height: auto;
                left: -90px;
                top: 14px;
                position: absolute;
                color: white;
                font-family: 'Futura', monospace, sans-serif;
                font-size: 22px;
                z-index: 6;
                text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
            }
            .fa {
                z-index: 6;
                padding: 1%;
                margin-left: 2%;
                margin-top: 10%;
            }
            .fa-heart {
                position: sticky;
                color: red;
                width: auto;
                height: auto;
                font-size: 28px;
                text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
                display: inline-block;
            }

            .pacman-bg {
                max-width: 40px;
                max-height: 40px;
                background-color: transparent;
                display: inline-block;
                background-position: center;
                background-size: cover;
            }

            .pacman {
                position: relative;
                padding-left: 3.2px;
            }
            .pacman-top{
                  background-color: yellow;
                  max-height: 16px;
                  max-width: 28px;
                  border-radius: 20px 20px 0 0;
                  animation: spin1 0.5s infinite linear;
                  position: relative;
                  margin-top: 6.4px;
            }
            .pacman-eyes{
                position: absolute;
                max-width: 10.4px;
                max-height: 10.4px;
                background-color: white;
                margin-left: 12.8px;
                margin-top: .8px;
                border-radius: 50%;
                border: .5px solid black;
            }
            .pacman-eye{
                background-color: red;
                max-width: 4.6px;
                max-height: 4.6px;
                position: absolute;
                margin-left: 2.4px;
                margin-top: 2.4px;
                border-radius: 50%;
            }
            .pacman-bottom {
                  background-color: yellow;
                  max-height: 16px;
                  max-width: 28px;
                  border-radius: 0 0 20px 20px;
                  animation: spin2 0.5s infinite linear;
                  position: relative;
                  margin-top: -2px;
            }

            /* Extra class start */
            .pacman-paused {
                width: 50px;
                height: 50px;
                background-color: transparent;
                display: inline-block;
                background-position: center;
                background-size: cover;
            }
            .pacman-dead {
                  background-color: yellow;
                  height: 100%;
                  width: 100%;
                  border-radius: 50%;
                  top: -50%;
                  animation: dead 2s infinite linear;
                  position: relative;
                  margin-top: 25px;
            }
            /* Extra class end */

            .redGhost {
                max-width: 40px;
                max-height: 40px;
                background-image: url(../bilder/rot.png  );
                background-size: cover;
                background-position: center;
                display: inline-block;
                animation: ghosts 1s linear infinite;
            }
            .yellowGhost {
                max-width: 40px;
                max-height: 40px;
                background-image: url(../bilder/gelb.png);
                background-size: cover;
                background-position: center;
                display: inline-block;
                animation: ghosts 1s linear infinite;
                    }
            .greenGhost {
                max-width: 40px;
                max-height: 40px;
                background-image: url(../bilder/blau.png);
                background-size: cover;
                background-position: center;
                display: inline-block;
                animation: ghosts 1s linear infinite;
            }
            .pinkGhost {
                max-width: 40px;
                max-height: 40px;
                background-image: url(../bilder/pink.png);
                background-size: cover;
                background-position: center;
                display: inline-block;
                animation: ghosts 1s linear infinite;
            }

            .wall {
                max-height: 40px;
                max-width: 40px;
                background-image: url('../bilder/neon.png');
                background-position: center;
                background-size: cover;
                display: inline-block;
            }
            .wallL {
                max-height: 40px;
                max-width: 40px;
                background-image: url('../bilder/neon.png');
                background-position: center;
                background-size: cover;
                display: inline-block;
            }
            .coin2 {
                max-width: 40px;
                max-height: 40px;
                background-image: url('../bilder/orangen.png');
                background-position: center;
                background-size: cover;
                display: inline-block;
            }
            .coin1 {
                max-width: 40px;
                max-height: 40px;
                background-image: url('../bilder/point.png');
                background-position: center;
                background-size: cover;
                display: inline-block;
                animation: coinsAnim .5s infinite;
            }
            .coin {
                max-height: 40px;
                max-width: 40px;
                background-image: url('../bilder/point.png');
                background-position: center;
                background-size: cover;
                display: inline-block;
                animation: coinsAnim .5s infinite;
            }
            .ground {
                max-height: 40px;
                max-width: 40px;
                background-color: transparent;
                background-position: center;
                background-size: cover;
                display: inline-block;
            }

            #nextLvl {
                    position: absolute;
                    color: white;
                    margin-top: 50%;
                    margin-left: 28.5%;
                    font-size: 2rem;
                    text-align: center;
                    font-weight: bolder;
                    overflow-x: hidden;
                    z-index: 10;
                    animation: text 2s infinite;
                }
            @keyframes text {
                  40%{
                      margin-top: 51%;
                  }
                  60%{
                      margin-top: 50%;
                  }
                  80%{
                      margin-top: 51%;
                  }
                }

            #highscore {
            position: relative;;
            overflow-x: hidden;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;  
            }
            #highscore-text {
                color: white;
                position: sticky;
                font-size: 64px;
                text-align: center;
                margin-top: 5%;
            }
            #highscores {
                color: white;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                font-size: 44px;
            }
            #clear {
                left:  50px;
            }

            @keyframes flicker {
                0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
                //text-shadow: none;
                    opacity: .99;

                }
                20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
                    opacity: 0.1;
                }
            }
            /* Game end */
        }